html {
	font-size: 120%;
}
body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	line-height: 1.5px;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}
.titulo-principal {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
	font-size: 60px;
	text-transform: uppercase;
}

.subtitulo-texto {
	font-size: 30px;
	clear: both;
}

p {
	text-align: justify;
	margin: 20px 0;
}

.navegacao-site {
	text-align: center;
	background-color: #3C1D3D;
	color: #F2FFFC;
	padding: 20px;
}

.navegacao-site, .minha-foto {
	float: right;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
	box-sizing: border-box;
}
.navegacao-site {
	position:absolute;
	top: 310px;
	right: 0;
	width: 15%;
}
.minha-foto {
	position: absolute;
	top: 0;
	right: 0;
}
.navegacao-site a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

.navegacao-site h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

.rodape-pagina {
	background-color: #000;
	color: #F2FFFC;
	padding: 20px;
}
main {
	float: left;
	width: 85%;
}
main a {
	color: #851944;
}

.container {
	width: 720px;
	margin: auto;
	padding: 40px 0;
	padding-bottom: 80px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.icones-redes-sociais li {
	display: inline-block;
}

nav a {
	text-transform: lowercase;
}

.icones-redes-sociais a {
	width: 40px;
	height: 40px;
	display: block;
	text-indent: -99999px;
}

.github {
	background-image: url(../img/github.png);
}

.twitter {
	background-image: url(../img/twitter.png);
}

.linkedin {
	background-image: url(../img/linkedin.png);
}

.rodape-pagina {
	position: fixed;
	width: 100%;
	bottom: 0;
    clear: both;
}